.origem{
    text-align: justify;
    margin: 50px;
}


.classico{
    text-align: justify;
    margin: 50px;
}


.shippuden{
    text-align: justify;
    margin: 50px;

}

.contato{

    padding: 50px;
    text-align: center;
}

.footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.322);

}